<!-- START: Video Block 1 -->
<div class="nk-box bg-dark-1 text-white">
  {% for post in site.categories.books reversed limit:1 %}
  {% if post.video != '' %}
    <div class="nk-video-fullscreen-toggle-left">
        <a class="nk-video-fullscreen-toggle" href="https://www.youtube.com/watch?v={{post.video}}">
            <span class="nk-video-icon">
              <svg style="fill:#fff" width="35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                <g><g><path d="M220,214l484.1,286L220,786V214L220,214z M150,10c-38.7,0-70,31.3-70,70v840c0,38.7,31.3,70,70,70l739.9-437.2c18.7-11,30.1-31.1,30.1-52.8c0-21.7-11.5-41.8-30.1-52.8L150,10L150,10z"/></g></g>
              </svg>
            </span>
        </a>
    </div>
  {% endif %}
    <div class="bg-video-row row">
        <div class="col-lg-6">
            <div class="bg-video bg-video-parallax" style='background-image: url("{{site.url}}{{post.image}}");'></div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5">
                <div class="nk-gap-3"></div>

                  <h2 class="h1 nk-title"><a class="text-white" href="{{site.url}}{{post.url}}">{{post.title}}</a></h2>
                  <div class="nk-comment-date">
                      Uploaded @ {{post.date | date_to_long_string}}
                  </div>
                  <div class="nk-gap"></div>
                  <h3 class="nk-sub-title">{{post.excerpt}}</h3>
                  <div class="nk-gap"></div>
                  <div class="text-left">
                    <div class="col-12 p-0">
                      <a href="{{site.url}}{{post.url}}" class="nk-btn nk-btn-color-dark-1 nk-btn-bg-white">Read the article</a>
                    </div>
                    <div class="nk-gap"></div>
                    <div class="col-12 p-0">
                      <a href="{{site.url}}/book-studies.html" class="nk-btn nk-btn-x2 nk-btn-rounded nk-btn-outline">
                          <span>See All Book Studies</span>
                      </a>
                    </div>
                  </div>

                <div class="nk-gap-3"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- END: Video Block 1 -->
