---
layout: default
---

<div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
  <div class="nk-header-table">
      <div class="nk-header-table-cell">
          <div class="container">
              <h1 class="nk-title">{{page.title}}</h1>
          </div>
      </div>
  </div>

  <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-center">
          <ul>
              <li><a href="index.html">Home</a></li>
              <li>{% if page.pageLevel and page.pageLevel > 2 %}<a href="{{page.parentUrl}}">{{page.parentTitle}}</a>{% else %}<span>{{ page.title }}</span> {% endif %}</li>
              {% if page.pageLevel and page.pageLevel > 2 %}<li><span>{{page.categoryName}}</span></li>{% endif %}
          </ul>
      </div>
  </div>
</div>
<!-- END: Header Title -->

<div class="container">
  {{content}}
</div>
